header {
  background-color: white;
}

header .hamburger {
  display: none;
}

header .navbar {
  width: 1500vw;
}

header .navbar-brand {
  margin-left: 100px;
}

header .navbar-nav {
  margin-left: 30%;
  position: relative;
  top: 15px;
}

header .navbar-nav .nav-link {
  color: #9698a6;
}

header .navbar-nav .nav-link::after {
  content: "";
  display: inline-block;
  border-bottom: 5px solid transparent;
  -o-border-image: linear-gradient(to right, #31d35c, #2bb7da);
     border-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
     border-image: linear-gradient(to right, #31d35c, #2bb7da);
  border-image-slice: 1;
  width: 100%;
  position: relative;
  top: 10px;
  left: 1px;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

header .navbar-nav .nav-link:hover::after {
  opacity: 1;
}

header .header-btn {
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  white-space: nowrap;
  padding: 10px;
  text-decoration: none;
  font-size: 70%;
  display: inline-block;
  width: 150px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border: transparent;
  transform: translateX(-5rem);
  -webkit-transform: translateX(-5rem);
  -moz-transform: translateX(-5rem);
  -ms-transform: translateX(-5rem);
  -o-transform: translateX(-5rem);
}

header .header-btn:hover {
  opacity: 0.5;
}

#hero {
  position: relative;
  height: 75vh;
}

#hero .hero-text {
  margin: 135px;
}

#hero .hero-text h1 {
  width: 40%;
}

#hero .hero-text p {
  width: 45%;
  color: #9698a6;
  margin-top: 15px;
}

#hero .hero-text .hero-btn {
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  white-space: nowrap;
  padding: 10px;
  text-decoration: none;
  font-size: 70%;
  display: inline-block;
  width: 150px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  text-align: center;
}

#hero .hero-text .hero-btn:hover {
  opacity: 0.5;
}

#hero .hero-img {
  position: relative;
  height: 30vh;
}

#hero .hero-img .intro-hero {
  position: absolute;
  left: 45%;
  bottom: 0;
  z-index: -10000;
}

#hero .hero-img .phones {
  position: relative;
  left: 60%;
  bottom: 40rem;
  z-index: -10000;
}

#question {
  background-color: #fafafa;
  position: relative;
  bottom: 2rem;
}

#question .question-text {
  margin: 135px;
}

#question .question-text p {
  width: 50%;
  color: #9698a6;
}

#question .info-icon {
  margin: 120px;
  transform: translateY(-30%);
  -webkit-transform: translateY(-30%);
  -moz-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  -o-transform: translateY(-30%);
}

#question .info-icon img {
  padding-bottom: 30px;
}

#question .info-icon p {
  color: #9698a6;
}

#article {
  margin: 135px;
}

#article .articles-content {
  margin-top: 40px;
  margin-left: -13px;
}

#article .articles-content p {
  color: #9698a6;
}

#article .content {
  margin-top: 30px;
}

footer {
  height: 25vh;
  width: 100vw;
  background-color: #2d314d;
}

footer .logo-side {
  margin-left: 135px;
  transform: translateY(75%);
  -webkit-transform: translateY(75%);
  -moz-transform: translateY(75%);
  -ms-transform: translateY(75%);
  -o-transform: translateY(75%);
}

footer .logo-side .social-medias {
  margin-left: 10px;
  transform: translateY(75%);
  -webkit-transform: translateY(75%);
  -moz-transform: translateY(75%);
  -ms-transform: translateY(75%);
  -o-transform: translateY(75%);
}

footer .logo-side .social-medias img {
  margin: 4px;
  cursor: pointer;
}

footer .logo-side .social-medias img:hover {
  fill: #31d35c;
}

footer .nav-footer .footer-nav {
  list-style: none;
  color: white;
}

footer .nav-footer-container {
  position: relative;
}

footer .nav-footer-container .nav-footer-one {
  width: 13%;
  position: absolute;
  left: 30%;
}

footer .nav-footer-container .nav-footer-one a {
  text-decoration: none;
  color: white;
}

footer .nav-footer-container .nav-footer-one a:hover {
  color: #31d35c;
}

footer .nav-footer-container .nav-footer-two {
  width: 15%;
  position: absolute;
  left: 50%;
}

footer .nav-footer-container .nav-footer-two a {
  text-decoration: none;
  color: white;
}

footer .nav-footer-container .nav-footer-two a:hover {
  color: #31d35c;
}

footer .btn-copyright {
  position: absolute;
  left: 75%;
}

footer .btn-copyright .footer-btn {
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  white-space: nowrap;
  padding: 10px;
  text-decoration: none;
  font-size: 70%;
  display: inline-block;
  width: 150px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  text-align: center;
}

footer .btn-copyright .footer-btn:hover {
  opacity: 0.5;
}

footer .btn-copyright p {
  margin-top: 20px;
  color: white;
}

@media only screen and (max-width: 600px) {
  header .hamburger {
    display: block;
  }
  header .close {
    display: none;
  }
  header .navbar-brand {
    transform: translateX(-80%);
    -webkit-transform: translateX(-80%);
    -moz-transform: translateX(-80%);
    -ms-transform: translateX(-80%);
    -o-transform: translateX(-80%);
  }
  header .header-btn {
    display: none;
  }
  .nav-dark {
    background-color: rgba(0, 0, 0, 0.226);
  }
  .minimize {
    overflow: hidden;
    height: 100vh;
  }
  .mobile-menu {
    text-align: center;
    z-index: 10000;
    background-color: white;
    font-weight: bold;
    color: #9698a6;
    position: absolute;
    width: 80%;
    top: 85px;
    left: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    top: -100vh;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .mobile-menu #menu-container .menu-lists {
    list-style: none;
    margin-right: 25px;
  }
  .mobile-menu #menu-container .menu-lists .lists {
    margin: 20px;
    cursor: pointer;
  }
  #hero .hero-text {
    margin: -0;
    padding: 40px;
    transform: translate(5%, 80%);
    -webkit-transform: translate(5%, 80%);
    -moz-transform: translate(5%, 80%);
    -ms-transform: translate(5%, 80%);
    -o-transform: translate(5%, 80%);
    text-align: center;
  }
  #hero .hero-text h1 {
    width: unset;
    text-align: center;
    font-size: 180%;
  }
  #hero .hero-text p {
    width: 100%;
    text-align: center;
    font-size: 85%;
  }
  #hero .hero-img {
    position: unset;
  }
  #hero .hero-img .intro-hero {
    position: absolute;
    width: 100vw;
    height: 50vh;
    transform: translate(-45%, -60%);
    -webkit-transform: translate(-45%, -60%);
    -moz-transform: translate(-45%, -60%);
    -ms-transform: translate(-45%, -60%);
    -o-transform: translate(-45%, -60%);
  }
  #hero .hero-img .phones {
    width: 90%;
    top: 1%;
    left: 10%;
    position: absolute;
    transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
  }
  #question {
    margin-top: 200px;
    text-align: center;
  }
  #question .question-text {
    margin: -0;
    padding: 30px;
    text-align: center;
  }
  #question .question-text h3 {
    width: 50%;
    font-size: 100%;
    position: relative;
    left: 30%;
  }
  #question .question-text p {
    width: 100%;
    position: relative;
    font-size: 85%;
    left: 8%;
  }
  #question .info-icon {
    margin: 5px;
    margin-top: 350px;
  }
  #question .info-icon p {
    width: 100%;
    font-size: 80%;
  }
  #article {
    margin: -0;
    padding: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #article .heaading-article {
    text-align: center;
  }
  #article .heaading-article h2 {
    white-space: nowrap;
    text-align: center;
    font-size: 200%;
    margin-right: 0px;
  }
  #article .articles-content .card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 15rem !important;
    position: relative;
    left: 20px;
  }
  footer {
    height: 58vh;
    text-align: center;
  }
  footer .logo-side {
    margin: -0;
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
  }
  footer .nav-footer-one {
    width: -webkit-fill-available !important;
    position: unset !important;
  }
  footer .nav-footer-container {
    margin-top: 50px;
    padding-right: 30px;
  }
  footer .nav-footer-two {
    width: -webkit-fill-available !important;
    position: unset !important;
  }
  footer .btn-copyright {
    position: unset;
    margin-left: 25px;
  }
}

@media only screen and (min-width: 390px) and (max-width: 475px) {
  .hero-text {
    transform: translate(5%, 100%) !important;
    -webkit-transform: translate(5%, 100%) !important;
    -moz-transform: translate(5%, 100%) !important;
    -ms-transform: translate(5%, 100%) !important;
    -o-transform: translate(5%, 100%) !important;
  }
}

@media only screen and (min-width: 475px) and (max-width: 513px) {
  .hero-text {
    transform: translate(5%, 120%) !important;
    -webkit-transform: translate(5%, 120%) !important;
    -moz-transform: translate(5%, 120%) !important;
    -ms-transform: translate(5%, 120%) !important;
    -o-transform: translate(5%, 120%) !important;
  }
}

@media only screen and (min-width: 513px) and (max-width: 600px) {
  .hero-text {
    transform: translate(5%, 130%) !important;
    -webkit-transform: translate(5%, 130%) !important;
    -moz-transform: translate(5%, 130%) !important;
    -ms-transform: translate(5%, 130%) !important;
    -o-transform: translate(5%, 130%) !important;
  }
}

@media only screen and (min-width: 540px) and (max-width: 600px) {
  .hero-text {
    transform: translate(5%, 140%) !important;
    -webkit-transform: translate(5%, 140%) !important;
    -moz-transform: translate(5%, 140%) !important;
    -ms-transform: translate(5%, 140%) !important;
    -o-transform: translate(5%, 140%) !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 991px) {
  header .navbar-brand {
    transform: translateX(-80%);
    -webkit-transform: translateX(-80%);
    -moz-transform: translateX(-80%);
    -ms-transform: translateX(-80%);
    -o-transform: translateX(-80%);
  }
  header .header-btn {
    display: none;
  }
  .nav-dark {
    background-color: rgba(0, 0, 0, 0.226);
  }
  .minimize {
    overflow: hidden;
    height: 100vh;
  }
  .mobile-menu {
    text-align: center;
    z-index: 10000;
    background-color: white;
    font-weight: bold;
    color: #9698a6;
    position: absolute;
    width: 80%;
    top: 85px;
    left: 68px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    top: -100vh;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .mobile-menu #menu-container .menu-lists {
    list-style: none;
    margin-right: 25px;
  }
  .mobile-menu #menu-container .menu-lists .lists {
    margin: 20px;
    cursor: pointer;
  }
  #hero .hero-text {
    margin: -0;
    padding: 40px;
    transform: translate(5%, 200%);
    -webkit-transform: translate(5%, 200%);
    -moz-transform: translate(5%, 200%);
    -ms-transform: translate(5%, 200%);
    -o-transform: translate(5%, 200%);
    text-align: center;
  }
  #hero .hero-text h1 {
    width: 100%;
    text-align: center;
    font-size: 180%;
  }
  #hero .hero-text p {
    width: 100%;
    text-align: center;
    font-size: 85%;
  }
  #hero .hero-img {
    position: unset;
  }
  #hero .hero-img .intro-hero {
    position: absolute;
    width: 100vw;
    height: 50vh;
    transform: translate(-45%, -60%);
    -webkit-transform: translate(-45%, -60%);
    -moz-transform: translate(-45%, -60%);
    -ms-transform: translate(-45%, -60%);
    -o-transform: translate(-45%, -60%);
  }
  #hero .hero-img .phones {
    width: 90%;
    top: 1%;
    left: 10%;
    position: absolute;
    transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
  }
  #question {
    margin-top: 50%;
    text-align: center;
  }
  #question .question-text {
    margin: -0;
    padding: 30px;
    text-align: center;
  }
  #question .question-text h3 {
    width: 50%;
    font-size: 100%;
    position: relative;
    left: 30%;
  }
  #question .question-text p {
    width: 50%;
    position: relative;
    font-size: 85%;
    left: 30%;
    text-align: center;
  }
  #question .info-icon {
    margin-top: 350px;
  }
  #question .info-icon p {
    width: 50%;
    font-size: 80%;
    position: relative;
    left: 25%;
  }
  #article {
    margin: -0;
    padding: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #article .heaading-article {
    text-align: center;
  }
  #article .heaading-article h2 {
    white-space: nowrap;
    text-align: center;
    font-size: 200%;
    margin-right: 0px;
  }
  #article .articles-content .row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(31.66%, 1fr))[auto-fill] !important;
        grid-template-columns: repeat(auto-fill, minmax(31.66%, 1fr)) !important;
  }
  #article .articles-content .card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 13rem !important;
    position: relative;
    left: 20px;
  }
  footer {
    height: 58vh;
    text-align: center;
  }
  footer .logo-side {
    margin: -0;
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
  }
  footer .nav-footer-one {
    width: -webkit-fill-available !important;
    position: unset !important;
  }
  footer .nav-footer-container {
    margin-top: 50px;
    padding-right: 30px;
  }
  footer .nav-footer-two {
    width: -webkit-fill-available !important;
    position: unset !important;
  }
  footer .btn-copyright {
    position: unset;
    margin-left: 25px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 991px) {
  .hero-text {
    transform: translate(5%, 250%) !important;
    -webkit-transform: translate(5%, 250%) !important;
    -moz-transform: translate(5%, 250%) !important;
    -ms-transform: translate(5%, 250%) !important;
    -o-transform: translate(5%, 250%) !important;
  }
}

@media only screen and (min-width: 840px) and (max-width: 991px) {
  .hero-text {
    transform: translate(5%, 280%) !important;
    -webkit-transform: translate(5%, 280%) !important;
    -moz-transform: translate(5%, 280%) !important;
    -ms-transform: translate(5%, 280%) !important;
    -o-transform: translate(5%, 280%) !important;
  }
}

@media only screen and (min-width: 935px) and (max-width: 991px) {
  .hero-text {
    transform: translate(5%, 310%) !important;
    -webkit-transform: translate(5%, 310%) !important;
    -moz-transform: translate(5%, 310%) !important;
    -ms-transform: translate(5%, 310%) !important;
    -o-transform: translate(5%, 310%) !important;
  }
}

@media only screen and (min-width: 540px) and (max-width: 600px) {
  .hero-text {
    transform: translate(5%, 140%) !important;
    -webkit-transform: translate(5%, 140%) !important;
    -moz-transform: translate(5%, 140%) !important;
    -ms-transform: translate(5%, 140%) !important;
    -o-transform: translate(5%, 140%) !important;
  }
}

@media only screen and (min-width: 991px) {
  .close {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
  font-weight: 300;
  color: #fafafa;
  font-family: 'Public Sans', sans-serif;
  overflow-x: hidden;
}
/*# sourceMappingURL=style.css.map */